.help {
  width: 100vw;
}

.help-container {
  width: 100%;
  background-color: #ffffff;
}

.help-header {
  height: 115px;
  width: 100%;
  background-color: #212830;
}

.help-content {
}

.help-insert-massage{
  color: #000000;
}

.help-insert {
    width: 50%;
    background-color: #ff0000;
}

.help-title {
  margin-left: 10%;
  font-size: 62px;
  color: #95cefd;
}

.help-send-button {  
    color: #fff;
    background: #111;
}
