.profile-page {
    margin-left: 10%;
    max-width: 100%;
    width: 100%;
}

.profile-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user-profile {
    width: 100%;
    padding: 50px 30px 0 30px;
    height: 100vh;
    background-color: #ffffff;
}

.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-image {
    align-content: center;
    position: relative;
}

.user-change-image-bg {
    position: absolute;
    bottom: -14px;
    right: -14px;
    width: 74.121px;
    height: 73.739px;
    background-color: #E0E0E0;
    border-radius: 50%;
}

.user-profile-img {
    font-size: 224px;
}

.user-profile-picture {
    width: 224px;
    height: 224px;
    border-radius: 50%;
    object-fit: cover;
}

.user-change-profile-img {
    font-size: 57px;
    margin: auto;
}

.user-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 17px;
}

.profile-username {
    margin-top: 1.5rem;
    font-size: 48px;
}

.profile-community {
    font-size: 24px;
    color: #858585;
}

.profile-bio {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-file {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.edit-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-bio-edit {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    padding: 1rem 1rem;
    background: #F3F3F3;
}

.profile-edit-profile,
.profile-save-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    background: #F3F3F3;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}