.profile-page {
    margin: auto;
    max-width: 82vw;
    width: 100%;
}

.profile-page-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-profile {
    width: 24%;
    padding: 50px 30px 0 0;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid black;
}

.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-image {
    align-content: center;
    position: relative;
}

.user-change-image-bg {
    position: absolute;
    bottom: -14px;
    right: -14px;
    width: 74.121px;
    height: 73.739px;
    background-color: #E0E0E0;
    border-radius: 50%;
}

.user-profile-img {
    font-size: 224px;
}

.user-profile-picture {
    width: 224px;
    height: 224px;
    border-radius: 50%;
    object-fit: cover;
}

.user-change-profile-img {
    font-size: 57px;
    margin: auto;
}

.user-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 17px;
}

.profile-username {
    margin-top: 1.5rem;
    font-size: 48px;
}

.profile-community {
    font-size: 24px;
    color: #858585;
}

.profile-bio {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-file {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}