.test-api-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hello {
  font-size: 2em;
}

.test-api {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.test-api-title {
  font: 3em bold;
}

.test-api-card {
  border: 1px solid black;
  padding: 20px;
}